* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: rgb(26, 23, 32);
  color: white;
}

nav {
  height: 55px;
  background-color: #0d0333;
}
li.nav-ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav-ul li {
  float: left;
  list-style: none;
}

ul.nav-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

ul.nav-ul li a:hover:not(.active) {
  background-color: #717573;
}

ul.nav-ul li a.active {
  color: #84ebc5;
}

ul.nav-ul li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

#main-heading {
  margin-top: 60px;
  margin-left: 150px;
  color: bisque;
  text-align: start;
  font-size: 48px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#about {
  font-size: 35px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif,
    "Lucida Sans", Arial, sans-serif;
}

.container_1 {
  display: flex;
  margin: 50px 150px;
  gap: 18%;
}
#home_img {
  height: 300px;
}

.container_2 {
  display: flex;
  margin: 50px 150px;
  align-items: center;
  padding: 40px;
  gap: 20%;
  text-align: center;
}

.innerOne {
  width: 50%;
  height: 50%;
  float: left;
}

.innerTwo {
  padding: 20px;
  width: 50%;
  height: 50%;
  float: right;
  font-size: 20px;
}

.first {
  padding: 10px;
  width: 50%;
  height: 50%;
  border: 3px solid rgb(132, 128, 128);
  border-radius: 10px;
}

.second {
  padding: 10px;
  width: 50%;
  height: 50%;
  border: 3px solid rgb(146, 140, 140);
  border-radius: 10px;
}

h3 {
  color: rgba(241, 177, 202, 0.995);
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 1px rgb(243, 31, 16);
}

button {
  width: 120px;
  border-radius: 6px;
  padding: 8px;
  background-color: rgba(100, 11, 118, 0.806);
  margin: 10%;
  font-size: 26px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: whitesmoke;
  box-shadow: 2px 2px #ebeaed;
}

button:hover {
  cursor: pointer;
  width: 140px;
  color: #e7eae6;
  background-color: #04aa6d;
}

.innerOne img {
  width: 88%;
}

.foot-container {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  background-color: #0d0333;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 42px;
  border-radius: 70%;
  gap: 15px;
}

.fa:hover {
  opacity: 0.8;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
