* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: black;
  color: white;
}

nav {
  height: 55px;
  background-color: #0d0333;
}
li.nav-ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav-ul li {
  float: left;
  list-style: none;
}

ul.nav-ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 22px;
}

ul.nav-ul li a:hover:not(.active) {
  background-color: #717573;
}

ul.nav-ul li a.active {
  color: #04aa6d;
}

ul.nav-ul li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}

h1 {
  margin-top: 60px;
  margin-left: 150px;
  color: bisque;
  text-align: start;
}

.container_1 {
  display: flex;
  margin: 50px 150px;
  gap: 18%;
}

.container_2 {
  display: flex;
  margin: 50px 150px;
  align-items: center;
  padding: 40px;
  gap: 20%;
  text-align: center;
}

.innerOne {
  width: 50%;
  height: 50%;
  float: left;
}

.innerTwo {
  padding: 20px;
  width: 50%;
  height: 50%;
  float: right;
  font-size: 20px;
}

.first {
  width: 50%;
  height: 50%;
  border: 3px solid rgb(132, 128, 128);
  border-radius: 10px;
}

.second {
  width: 50%;
  height: 50%;
  border: 3px solid rgb(146, 140, 140);
  border-radius: 10px;
}

button {
  border-radius: 6px;
  padding: 8px;
  background-color: rgb(216, 236, 125);
  margin: 10%;
  font-size: 18px;
  font-weight: 400;
  color: rgb(14, 14, 2);
  box-shadow: 2px 2px #0d0333;
}

.innerOne img {
  width: 60%;
}

.foot-container{
    display: flex;
    float: right;
    background-color: #0d0333; ;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 12px;
    border-radius: 70%;
    gap: 15px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }